# --- bin and compile ---
bin/
build/
obj/
*.o
*.cu.o
*.exe
*.out
*.app

# --- mtx ---
data/*.mtx
data/*.tar.gz
data/*.zip

# --- IDE and tools ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# --- Report ---
*.nvvp
*.nsys-rep
*.log
color.md
Notes.md
todo.md
Deliverable1_SpMV_Guidance_v2.pdf
paper/*.pdf
paper/2_del/*.pdf
GPU-Computing-2025-2026-deliverable-2.pdf